body {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
}

.section-top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-image {
    background-image: url(images/donation13.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin: 40px;
}

p {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 60px;
}

a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    background-color: coral;
    border-radius: 5px;
    padding: 15px;

}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    display: inline-block;
    line-height: 150px;
    margin: 15px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    color: black;
}

.box-select {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    display: inline-block;
    line-height: 150px;
    margin: 15px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    border: 3px solid red;
    color: red;
}

.custom-box input {
    width: 40%;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5px;
    color: gray;
    margin: 30px 0 30px 0;
}

.donation-plan {
    display: flex;
    justify-content: center;

}

.donation-plan h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.plan-box {
    width: 400px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 30px;
}

.blue-color {
    background-color: cadetblue;
}

.pink-color {
    background-color: pink;
}

.bisque-color {
    background-color: bisque;
}

.gallary {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding: 30px;
}

.half-width img {
    width: 100%;
}

.subscription {
    height: 150px;
    width: 700px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}

.email-input {
    width: 250px;
    height: 30px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;

}

.subscribe-button {
    border: none;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}

footer h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    line-height: 25px;
}